$bgColor: #FF0;
$text: #333333;
$fontSz: 1rem;
$padding: 0;
$primaryColor: #ff0500;



body{
  background-color: $primary;
  user-select: none;
  display: grid;


}

@import "../node_modules/bootstrap/scss/bootstrap";
