$bgColor: #FF0;
$text: #333333;
$fontSz: 1rem;
$padding: 0;
$primaryColor: #ff0500;



body{
  background-color: $primary;
  user-select: none;
  display: grid;


}

$paddingDefault: 20px;
.padding{
  padding: $paddingDefault;

  &Double{
    Padding: $paddingDefault * 2;
  }

  &Half{
    padding: $paddingDefault / 2;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap";
